<!DOCTYPE html>
<html lang="en" ng-app="ToodooApp">
  <head>
    <meta charset="utf-8">
    <title>TooDoo - {{messages.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/css/toodoo.css" rel="stylesheet">
    <link href="/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">Toodoo</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li><a href="/">Home</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
    
    <div id="error" class="container">
      <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p class="message">{{error}}</p>
      </div>
    </div>
    
    <div class="container" ng-controller="TodosCtrl">

      <form id="newtodo" name="form" class="form-inline" novalidate>
        <input ng-model="newTodo.description" type="text" id="description" placeholder="What needs to be done?" name="description" required autocomplete="off">
        <button type="submit" class="btn" ng-click="create()">Create</button>
      </form>

      <table id="todos" class="table table-striped">
        
        <thead>
          <tr>
            <td style="width: 1em">State</td>
            <td>Description</td>
            <td style="width: 1em"></td>
          </tr>
        </thead>
        
        <tbody>

          <tr>
            <td colspan="3">No items found</td>
          </tr>
          
          <tr ng-repeat="todo in todos"
              jqui-drag-start="dragStart(todo)"
              jqui-drop-accept="dropAccept($token, todo)"
              jqui-drop-commit="dropCommit($token, todo)"
              jqui-drag-helper="clone">
            <td class="state">
              <a>
                <i class="icon-search {{todo.state}}"></i>
              </a>
            </td>
            <td class="description">{{todo.description}}</td>
            <td class="remove"><a><i class="icon-remove"></i></a></td>
          </tr>
        </tbody>
        
        <tfoot>
          <tr>
            <td colspan="3">
              <a>All</a>
                &middot;
              <a>Pending</a>
                &middot;
              <a>Completed</a>
            </td>
        </tfoot>
        
      </table>
    </div>

    <script src="/js/lib/jquery.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/lib/angular.min.js"></script>
    <script src="/js/lib/jquery-ui.min.js"></script>
    <script src="/js/lib/jquery-ui-dnd-ng.js"></script>
    <script src="/js/app-bundle.js"></script>
    <script src="/js/todos.js"></script>
  </body>
</html>